<!-- Header Start -->
<mat-toolbar class="mat-toolbar revealOnScroll" data-animation="fadeInUp">
    <div class="logo-section">
        <img style="height:25px; width:150px;" src="../assets/logo.png">
    </div>

    <div class="link-section">
        <!--3 TABs used -->
        <mat-tab-group (selectedTabChange)="clickFunc($event)" md-selected="data.selectedIndex" style="font-size: 14px;">
            <mat-tab label="HOME"></mat-tab>
            <mat-tab label="HOW IT WORKS"></mat-tab>
            <mat-tab label="CONTACT US"></mat-tab>
        </mat-tab-group>
    </div>
</mat-toolbar>
<!-- header over -->

<div class="vh" style=" background-color: #4b392b; padding: 10px 20px 10px 440px; font-family:Poppins-Regular;font-stretch: semi-expanded;font-size: 20px;letter-spacing: 1px;">
    IMMERSIVE STORYTELLING MADE EASY
</div>



<div style="background-color:#18191c; width:100%; max-width:1274px;min-width: 1274px; padding:10px 0px 0px 0px; ">

    <!--image start here-->
    <div style="background-image: url( '../assets/banner image.png'); margin-left:60px;height: 700px;background-repeat: no-repeat;">

        <div class="ui-g-4 " style=" position: relative; background-color: #d78e54; height:300px;width:690px;left:-30px; top:380px; padding:20px ;">
            <b><div style="color:white;font-family:LibreBaskerville-Bold;font-size: 34px; margin-bottom: 10PX;"> Welcome to STYCH </div></b>

            <div style=" color:white; font-family:Poppins-Regular; font-size:14px; ">
                We are STYCH and we exist to enable storytellers to craft immersive 360 experiences. STYCH is mobile application and online platform that enables journalists and other professionals to create immersive news experiences using 360 videos and photos. This
                eliminates the cumbersome production process and simplifies the journalistic work flow to provide a greater agency over the narrative when working with content taken from a 360 camera.We created STYCH because the current processes in immersive
                360 journalism from capture, post production to distribution are disconnected at the expense of conveying a compelling story. We are passionate about creating a world where there is a greater level of empathy between people and foreign
                experiences through achieving a true sense of co-presence and making authentic 360 storytelling more accessible to the world.
            </div>


        </div>

    </div>


    <div id="how" class="vh" style="text-align:center;">
        <div style="font-family:LibreBaskerville-Bold; margin-top:75px;font-size: 34px; ">How it Works
        </div>
        <div style="margin-bottom:20px; border-bottom: 2px solid transparent; border-image: linear-gradient(to right, white , white); border-image-slice: 1;width:50px;margin-left:602px;margin-top: 5px; "></div>
        <div class="ch " style="font-family:Poppins-Light; margin-bottom: 50px; ">Using Stych you can easily create a interactive 360 story. It's that simple :)</div>
    </div>


    <div class="vh " style="background-image: url( '../assets/how it works.png'); display: block;margin-left:225px;height: 330vh;  background-repeat:no-repeat; ">

        <div style="width:300px;float:right; margin-right: 239px;margin-top: 42px; ">
            <div style="font-size:50px; opacity: 0.1;font-family: Poppins-Regular; ">01.</div>
            <div class="vh " style="font-family:Poppins-Regular;font-size: 24px; ">Welcome</div>
            <div class="ch " style="font-family:Poppins-Light; " class="ch " style="font-family:Poppins-Light; ">We will help you create a 360 story and make it easy for you create and explore stories from around the world. </div>
        </div>

        <div style="width:300px;float:left; margin-left: 50px;margin-top: 500px; ">
            <div style="font-size:50px; opacity: 0.1; ">02.</div>
            <div style="font-family:Poppins-Regular;font-size: 24px; ">Create Story</div>
            <div style="font-family:Poppins-Light; " class="ch ">Adding 360 videos or photos and geo tag their location. </div>
        </div>

        <div style="width:300px;float:right; margin-right: 239px;margin-top: 680px; ">
            <div style="font-size:50px; opacity: 0.1; ">03.</div>
            <div style="font-family:Poppins-Regular; font-size: 24px; ">Add Audio</div>
            <div style="font-family:Poppins-Light; " class="ch ">Add a personal narration about your story. </div>
        </div>

        <div style="width:300px;float:left; margin-left: 50px;margin-top: 710px; ">
            <div style="font-size:50px; opacity: 0.1; ">04.</div>
            <div style="font-family:Poppins-Regular; font-size: 24px; ">Generate Map</div>
            <div style="font-family:Poppins-Light; " class="ch "> Adding 360 videos or photos and geo tag their location.</div>
        </div>

        <div style="width:300px;float:right; margin-right: 239px;margin-top: 720px; ">
            <div style="font-size:50px; opacity: 0.1; ">05.</div>
            <div style="font-family:Poppins-Regular; font-size: 24px; ">Share With Community</div>
            <div style="font-family:Poppins-Light; " class="ch ">Share your story with other creators from around the world.</div>
        </div>


    </div>

    <!-- New grid image ang Become a contributor heading-->
    <div style="padding:0px 10px 50px 10px; ">
        <mat-grid-list cols="2 " rowHeight="2:1 ">


            <mat-grid-tile>
                <div style="background-color: #d78e54; width:560px;height:305px; position:relative; top:0px; left:0px; z-index:1; visibility: unset; ">
                    <div style="background-image: url( '../assets/3 image.png'); background-repeat:no-repeat; width:560px;height:305px;position:relative;top:-10px;left:-10px;z-index:2; ">
                    </div>
                </div>

            </mat-grid-tile>

            <div class="ui-g-6 " style="padding:20px ">
            </div>
            <div class="ui-g-6 ">
                <div style="height: 600px;width: 600px; ">
                    <div style="margin-left: 50px;margin-top: 50px; ">
                        <span class="vh " style="font-family:LibreBaskerville-Bold; font-size: 35px; margin-bottom: 10px; width: 610px ">Become a Contributor...</span>
                    </div>
                    <div>
                        <p class="ch " style=" font-family:Poppins-Regular;margin-left: 50px; ">
                            Interested in being of our contributors ? We are currently looking for journalists, media companies, storytellers and any other news ethusiasts to give us feedback and test our product. If you love creating 360 stories or watching the news then you can
                            help. Use the contact form below to and we will let you know more Thanks.
                        </p>
                        <p class="vh " style=" font-family:Poppins-Regular;margin-left:50px; ">
                            <b>Team at STYCH</b>
                        </p>
                    </div>

                </div>

            </div>

        </mat-grid-list>

    </div>




    <!-- New contact us and Geo location-->
    <!--complete div for geolocation and contact us-->
    <div id="contact" style="top:20px; width: 1220;height: 430px;">
        <mat-grid-list cols="2" rowHeight="2:1 ">


            <mat-grid-tile style="background-color:black; width: 610px; height: 430px;">
                <div style="color:white; width: 610px; height: 430px; padding: 20px; ">


                    <div style="font-family:LibreBaskerville-Bold; font-size:34px; ">Contact Us</div>
                    <div style="margin-bottom:20px; border-bottom: 2px solid transparent; border-image: linear-gradient(to right, white , white); border-image-slice: 1;width:80px;margin-top: 5px; "></div>
                    <form style="background-color:black; ">

                        <input style="font-family:Poppins-Regular;outline: none;padding: 10px 0px 0px 10px;min-width: 150px;max-width: 590px;width: 100%;height:40px;font-size:14px; color:white; border-width: 1px; bottom:15px;border-color:#d78e54 !important; margin-bottom:25px;background-color:black;"
                            type="text" placeholder="Name"><br>

                        <input style=" font-family:Poppins-Regular;outline: none;padding: 10px 0px 0px 10px;min-width: 150px;max-width: 590px;width: 100%;height:40px;font-size:14px; color:white; border-width: 1px; bottom:15px;border-color:#d78e54 !important; margin-bottom:25px; background-color:black;"
                            type="text" placeholder="Message"><br>

                        <textarea type="text" style="font-family:Poppins-Regular;outline: none;padding: 10px 0px 0px 10px; min-width: 150px;max-width: 590px;width: 100%; color:white; border-width:1px;border-color:#d78e54; margin-bottom:25px; background-color:black; " rows="6"
                            cols="50 " placeholder="Message"></textarea><br>

                        <button class="gradient_button" style=" border:none;padding: 10px 40px 10px 40px; text-align: center; text-decoration: none; display: inline-block; font-size: 14px;outline:none;" (click)="send()">SEND</button>

                    </form>

                </div>
            </mat-grid-tile>

            <mat-grid-tile style="width: 610px; height: 430px;">
                <!-- <p-gmap [options]="options " [style]="{ 'width': '635px', 'height': '320px'} "></p-gmap> -->
                <!-- <div id="map " style="height:320px; width:620px; "></div> -->
                <img src="../assets/alocation.png" alt="location" height="450px" width="635px">
            </mat-grid-tile>
        </mat-grid-list>

    </div>




    <!--Footer-->

    <div class="vh " style="padding:20px 20px 40px 20px; ">
        <div style="font-family:Poppins-Regular;float:left;background-color:#18191c;font-size: 15px;"><i class="material-icons ">email</i> contact@stych.com</div>

        <div style="font-family:Poppins-Regular;float: right; background-color:#18191c;font-size: 15px;">Terms & Condition | Privacy Policy</div>
    </div>


</div>
<!--end of main div-->

<p-growl [(value)]="msgs "></p-growl>